<div class="ss_box ss_form ss_even" data-widget="form" id="form">
  <div class="ss_box_content ss_form_content" id="content_form">
    <div id="wrapper">
      <div class="ss_container main" data-widget="container" id="container">
        <div class="ss_container_content">
          <div class="ss_box ss_rich_text ss_odd" data-widget="rich_text2" id="rich_text2">
            <div class="ss_container ss_layout ss_layout_2col container_bg" data-widget="two_column" id="two_column">
              <div class="ss_container_content ss_layout_content ss_layout_2col_content">
                <div class="ss_box_content ss_rich_text_content" id="content_rich_text">
                  <p id="notice"><%= notice %></p>
                  <h1>Editing Post</h1>
                </div>
              </div>
          </div>
          <div class="ss_box ss_form ss_even" data-widget="form" id="form">
            <div class="ss_box_content ss_form_content" id="content_form">
              <%= render 'form' %>
              <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>